@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* dark mode colors
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 508px;
}

/*style for swiper carousal*/
.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
  width: 15px !important; /* Force custom size */
  height: 15px !important; /* Force custom size */
  color: #0056b3 !important; /* Optional: Arrow color */
}